<!-- /templates/product.liquid -->
{% comment %}

  https://cupsociety.de/products/teeflasche-mit-infusor

  Productpage: Teeflasche mit Infusor

{% endcomment %}

<section class="tea-template template-header">
  <div class="parallax-container">
    <div class="parallax"><img src="{{ 'accessoire-template-bottle-bg.png' | asset_url }}" style="max-height: 100%;"></div>
    <div class="heading-container" style="background-color: rgba(0,0,0,0.1);">
      <div class="fixed">
        <h1 class="heading" style="color: #222;">Teeflasche</h1>
        <p class="center-align" style="color: #222;">Exklusive & hochwertige Accessoires von Cup Society</p>
      </div>
    </div>
  </div>
</section>

<!-- Buy-section -->
<section class="content-section-inner tea-template">
  <div class="product-overview row">
    <div class="product-picture-wrapper col s12 m6 l6 xl6">
      <div class="main-productpicture-wrapper pointer center-align">
        <img src="{{ product.images[0].src | product_img_url: 'large' }}" alt="{{ product.images[0].alt }}" class="main-productpicture">
      </div>

      <div class="inline-productpicture-wrapper pointer">
        {% for image in product.images %}
          {%- if image != product.images[0] -%}
          <div class="image-element">
            <img src="{{ image.src | product_img_url: 'small' }}" alt="{{ image.alt }}" class="inline-productpicture">   <!-- load small -->
          </div>
          {%- endif -%}
        {% endfor %}
      </div>
    </div>
    <div class="productinformation-wrapper col s12 m6 l6 xl6 right">
      <p class="subheading no-margin">Exklusives & hochwertiges Accessoire</p>
      <h4 class="heading">{{product.title}}</h4>
      <p class="productdescription">{{product.description}}</p>
      <p class="price"><span id="product_price">{{product.variants[0].price | money }}</span></p>
      <!-- Preis aendern, wenn eine andere Option gewahlt wird -->
      {{ product.selected_variant.id }}
      <div class="input-field">
        <select id="product_select">
          {%- for variant in product.variants -%}
            <option value="{{ variant.id }}" data-price="{{ variant.price | money }}" {%- if variant == product.variants[0] -%}selected{%- endif -%}>{{ variant.option1 }} - {{ variant.price | money }}</option>
          {%- endfor -%}
        </select>
        <label>W&auml;hle eine Variante</label>
      </div>
      <button type="submit" class="btn primary-btn-black col s12 btn-addtocart" name="add" id="AddToCart" data-item-id="{{ product.variants.first.id }}">In den Warenkorb</button>
    </div>
  </div>
</section>
<!-- Buy-section -->

<!-- Informationsection - Infusor -->
<section class="content-section-outer information-content tea-template black-section info-section no-cart-resize">
  <div class="information-box valign-wrapper row">
    <div class="content scroll-fade col s12 m8 shadow-box ">
      <h2 class="center-align">Teeflasche</h2>
      <p class="read-text">Die Teeflasche ist aus doppelwandigem Glas, was dazu beitr&auml;gt, dass der Tee sehr lange die gew&uuml;nschte Temperatur h&auml;lt, von außen jedoch maximal angenehm warm wird. Der Bambusdeckel hat von innen eine Dichtung aus Gummi, es kann also nichts auslaufen. Wir empfehlen trotzdem darauf zu achten, den Deckel immer fest zu schließen.  Die Teeflasche kann ohne Bedenken zur Reinigung mit in die Sp&uuml;lmaschine, nur der Deckel, welcher aus Bambus hergestellt ist, sollte nicht dazugegeben werden. Dieser kann einfach unter warmen Wasser abgesp&uuml;lt werden.</p>
    </div>
    <div class="content img-content scroll-fade col s12 m4 center-align">
      <img src="{{ 'teesieb.png' | asset_url }}" alt="teesieb">
    </div>
  </div>
</section>
<!-- Informationsection -->

<!-- Informationsection - Flasche -->
<section class="content-section-outer information-content tea-template black-section info-section no-cart-resize">
  <div class="information-box valign-wrapper row">
    <div class="content img-content scroll-fade col s12 m4 center-align">
      <img src="{{ 'teesieb.png' | asset_url }}" alt="teesieb">
    </div>
    <div class="content scroll-fade col s12 m8 shadow-box ">
      <h2 class="center-align">Infusor</h2>
      <p class="read-text">Der Infusor ist eine hervorragende M&ouml;glichkeit losen Tee zuzubereiten. Durch den Henkel an der Oberseite ist er einfach herausnehmbar. Der Schraubverschluss verhindert, dass sich der Deckel versehentlich l&ouml;sen kann. Die Gr&ouml;ße des Infusors gibt dem Tee den n&ouml;tigen Platz zur Entfaltung und das feine Sieb l&auml;sst keine St&uuml;cke in die Teeflasche. Auch der Infusor kann ohne Bedenken zur Reinigung mit in die Sp&uuml;lmaschine gegeben werden.</p>
    </div>
  </div>
</section>
<!-- Informationsection -->

<!-- Informationsection - Bambusdeckel
<section class="content-section-outer information-content tea-template black-section info-section no-cart-resize">
  <div class="information-box valign-wrapper row">
    <div class="content scroll-fade col s12 m8 shadow-box">
      <h2 class="center-align">Bambusdeckel</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </div>
    <div class="content img-content scroll-fade col s12 m4 center-align">
      <img src="{{ 'teesieb.png' | asset_url }}" alt="teesieb">
    </div>
  </div>
</section> -->
<!-- Informationsection -->

<!-- Preparationvideosection -->
<section class="content-section-outer first tea-template no-cart-resize">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align section-heading scroll-fade">
        <h2>Zubereitung</h2>
        <p>Einfache Zubereitung f&uuml;r losen Tee</p>
      </div>
    </div>
    <div class="row">
      <div class="video-wrapper col xl12">
        <video class="fullWidth scroll-fade" src="{{ 'home-video.mp4' | file_url }}" controls></video>
      </div>
    </div>
  </div>
</section>
<!-- Preparationvideosection -->

<!-- Support -->
<div class="hide-on-med-and-down support">
  <!-- Element Showed -->
  <div class="fixed-action-btn">
    <a id="menu" class="btn btn-floating btn-large primary-bg" onclick="$('.tap-target').tapTarget('open');"><i class="material-icons">question_answer</i></a>
  </div>
  <!-- Tap Target Structure -->
  <div class="tap-target primary-container" data-activates="menu">
    <div class="tap-target-content">
      <h5>Sie haben Fragen?</h5>
      <p>Kontaktieren Sie und einfach &uuml;ber support@cupsociety.de<br><br>Ihr Cup Society Team</p>
    </div>
  </div>
</div>
<!-- !Support -->
