<!-- /templates/customers/account.liquid -->
{% comment %}

  For all available customer liquid tags:
    - http://docs.shopify.com/themes/liquid-variables/customer

{% endcomment %}

<!-- CONTENT -->
<section class="content-section-inner center-align valign-wrapper fullscreenHeight">
  <div class="container">
    <div class="row">
      <div class="section-heading col s12">
        <h4>Willkommen</h4>
        <h2>{{customer.name}}</h2>
        <div class="divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <ul class="collapsible" data-collapsible="expandable">
          <!-- Bestellungen -->
          <li>
            <div class="collapsible-header"><i class="material-icons">bookmark</i>Bestellungen<span class="new badge primary-btn" data-badge-caption="">{{customer.orders_count}}</span></div>
            <div class="collapsible-body">
              <!-- for every order; first one is active -->
              <div class="row">
                <ul class="collapsible" data-collapsible="accordion">
                  {%- for order in customer.orders -%}
                  <li>
                    <div class="collapsible-header {% if forloop.first == true %}active{% endif %}">
                      <p class="fullWidth no-margin">
                        <span class="left valign-wrapper"><i class="fa fa-hashtag" aria-hidden="true"></i>{{order.order_number}}</span>
                        <span class="right">Versandstatus: {{order.fulfillment_status_label}}</span>
                      </p>
                    </div>
                    <div class="collapsible-body">
                      <!-- Deliveryaddress -->
                      <p>Deine Bestellung vom {{order.created_at | time_tag: '%d. %b %Y'}} {%- if order.fulfillment_status_label == 'Erfüllt' -%}<span>wurde an </span> {%- else -%}<span>wird an </span> {%- endif -%} {{order.shipping_address.name}}, {{order.shipping_address.address1}} {{order.shipping_address.address2}} in {{order.shipping_address.city}} gesendet.</p>
                      <div class="order-element-wrapper">
                        {%- for item in order.line_items -%}
                        <div class="order-element hoverable z-depth-2">
                          <div class="img hide-on-small-only" style="background-image: url('{{ item.image | img_url: 'small' }}');"></div>
                          <p class="product-info fullWidth">{{item.quantity}}x {{item.title}} {%- if item.variant -%} ({{item.variant}}) {%- endif -%}<span class="right">{{item.price | money}}</span></p>
                        </div>
                        {%- endfor -%}
                      </div>
                      <!-- Costoverview -->
                      <ul class="collection order-sum-collection">
                        <li class="collection-item">
                          <p class="left-align no-margin">Zwischensumme:<span class="right">{{order.subtotal_price | money}}</span></p>
                        </li>
                        <li class="collection-item">
                          <p class="left-align no-margin">MwSt.:<span class="right">{{order.tax_price | money}}</span></p>
                        </li>
                        <li class="collection-item">
                          <p class="left-align no-margin">Versand:<span class="right">{{order.shipping_price | money}}</span></p>
                        </li>
                        <li class="collection-item">
                          <p class="left-align no-margin">Summe:<span class="right">{{order.total_price | money}}</span></p>
                        </li>
                      </ul>
                    </div>
                  </li>
                  {%- endfor -%}

                </ul>
              </div>
            </div>
          </li>
          <!-- !Bestellungen -->

          <!-- Einstellungen -->
          <li>
            <div class="collapsible-header"><i class="material-icons">settings</i>Verwaltung</div>
            <div class="collapsible-body">
              <div class="row no-margin">
                <div class="btn_group col s12 m6 offset-m3">
                  <a href="/account/addresses" class="btn primary-btn">Adressen verwalten</a>
                </div>
              </div>
            </div>
          </li>
          <!-- !Einstellungen -->

        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col s12 btn_group">
        <a href="account/logout" class="btn primary-btn col m6 offset-m3">Ausloggen</a>
      </div>
    </div>

    <!-- Support -->
    <div class="hide-on-med-and-down">
      <!-- Element Showed -->
      <div class="fixed-action-btn">
        <a id="menu" class="btn btn-floating btn-large primary-bg" onclick="$('.tap-target').tapTarget('open');"><i class="material-icons">question_answer</i></a>
      </div>

      <!-- Tap Target Structure -->
      <div class="tap-target primary-container" data-activates="menu">
        <div class="tap-target-content">
          <h5>Sie haben Fragen?</h5>
          <p>Kontaktieren Sie und einfach &uuml;ber support@cupsociety.de<br><br>Ihr Cup Society Team</p>
        </div>
      </div>
    </div>
    <!-- !Support -->
  </div>
</section>
<!-- !CONTENT -->
