<!-- /templates/customers/addressess.liquid -->
{% comment %}

  Template note:
    - There are instances of inline JS below. Best practices advise separating this
      into an external JS file
    - There are separate 'add new' and 'edit' address forms

{% endcomment %}

<section class="content-section-inner center-align valign-wrapper fullscreenHeight">
  <div class="container">
    <div class="row">
      <div class="section-heading col s12">
        <h2>Adressen</h2>
        <div class="divider"></div>
        {%- if customer.addresses_count == 0 -%}
          <p>Sie haben noch keine Adresse hinterlegt. F&uuml;gen sie jetzt eine Adresse hinzu, um den Bestellvorgang zu beschleunigen.
        {%- endif -%}
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <ul class="collapsible" data-collapsible="accordion">
          {% for address in customer.addresses %}
          <li>
            <div class="collapsible-header {% if forloop.first == true %}active{% endif %}"><i class="material-icons">home</i>{{forloop.index}}. Adresse</div>
            <div class="collapsible-body">
              <div id="view_address_{{address.id}}" class="row">
                <div class="address_overview_outputfield col s6">
                  <p id="first_name_output_1">{{address.first_name}}</p>
                  <span class="col">Vorname</span>
                </div>
                <div class="address_overview_outputfield col s6">
                  <p id="last_name_output_1">{{address.last_name}}</p>
                  <span class="col">Nachname</span>
                </div>
                {%- if address.company != "" -%}
                  <div class="address_overview_outputfield col s12">
                    <p id="street_output_1">{{address.company}}</p>
                    <span class="col">Unternehmen</span>
                  </div>
                {%- endif -%}
                <div class="address_overview_outputfield col s8">
                  <p id="street_output_1">{{address.address1}}</p>
                  <span class="col">Stra&szlig;e</span>
                </div>
                <div class="address_overview_outputfield col s4">
                  <p id="hnumber_output_1">{{address.address2}}</p>
                  <span class="col">Hausnr.</span>
                </div>
                <div class="address_overview_outputfield col s12 m6">
                  <p id="location_output_1">{{address.city}}</p>
                  <span class="col">Stadt</span>
                </div>
                <div class="address_overview_outputfield col s12 m6">
                  <p id="telephone_output_1">{%- if {{address.phone == ""}} -%}nicht angegeben {%- else -%}{{address.phone}}{%- endif -%}</p>
                  <span class="col">Telefonnummer (optional)</span>
                </div>

                <div class="btn_group col s12 m6">
                  <a class="btn  primary-btn" onclick="Shopify.CustomerAddress.toggleForm({{address.id}});return false">Bearbeiten</a>
                </div>
                <div class="btn_group col s12 m6">
                  <a href="#" class="btn  primary-btn" onclick="Shopify.CustomerAddress.destroy({{address.id}});return false">L&ouml;schen</a>
                </div>
              </div>

              {%- comment %}edit address{% endcomment -%}
              <div id="edit_address_{{address.id}}" class="row" style="display: none;">
                {% form 'customer_address', address %}
                <div class="input-field col s6">
                  <input required id="first_name_edit" type="text" class="validate" value="{{address.first_name}}" name="address[first_name]">
                  <label for="first_name_edit">Vorname</label>
                </div>
                <div class="input-field col s6">
                  <input required id="last_name_edit" type="text" class="validate" value="{{address.last_name}}" name="address[last_name]">
                  <label for="last_name_edit">Nachname</label>
                </div>
                <div class="input-field col s12">
                  <input id="street_edit" type="text" class="validate" value="{{address.company}}" name="address[company]">
                  <label for="street_edit">Unternehmen</label>
                </div>
                <div class="input-field col s8">
                  <input required id="street_edit" type="text" class="validate" value="{{address.address1}}" name="address[address1]">
                  <label for="street_edit">Stra&szlig;e</label>
                </div>
                <div class="input-field col s4">
                  <input required id="hnumber_edit" type="text" class="validate" value="{{address.address2}}" name="address[address2]">
                  <label for="hnumber_edit">Hausnr.</label>
                </div>

                <div class="input-field col s12 m6">
                  <input required id="plz_edit" type="text" class="validate" value="{{address.zip}}" name="address[zip]">
                  <label for="plz_edit">Stadt</label>
                </div>
                <div class="input-field col s12 m6">
                  <input required id="location_edit" type="text" class="validate" value="{{address.city}}" name="address[city]">
                  <label for="location_edit">Stadt</label>
                </div>

                <div class="input-field col s12">
                  <input id="telephone_edit" type="tel" class="validate" value="{{address.phone}}" name="address[phone]">
                  <label for="telephone_edit">Telefonnummer (optional)</label>
                </div>

                <div class="btn_group col s12 m6">
                  <input type="submit" class="btn  primary-btn" value="Aktualisierung">
                </div>
                <div class="btn_group col s12 m6">
                  <a class="btn  primary-btn">Abbrechen</a>
                </div>
                {% endform %}
              </div>
            </div>
          </li>
          {% endfor %}
          <li>
            <div class="{%- if customer.addresses_count == 0 -%} collapsible-header active{% else %}collapsible-header{%- endif -%}"><i class="material-icons">home</i>Neue Adresse hinzuf&uuml;gen</div>
            <div class="collapsible-body">
              <div id="add_address" class="row">
                {% form 'customer_address', customer.new_address %}
                  <div class="row">
                    <div class="input-field col s6">
                      <input required id="first_name_add" type="text" class="validate" name="address[first_name]">
                      <label for="first_name_add">Vorname</label>
                    </div>
                    <div class="input-field col s6">
                      <input required id="last_name_add" type="text" class="validate" name="address[last_name]">
                      <label for="last_name_add">Nachname</label>
                    </div>
                    <div class="input-field col s12">
                      <input id="company_add" type="text" class="validate" name="address[company]">
                      <label for="company_add">Unternehmen</label>
                    </div>

                    <div class="input-field col s8">
                      <input required id="street_add" type="text" class="validate" name="address[address1]">
                      <label for="street_add">Stra&szlig;e</label>
                    </div>
                    <div class="input-field col s4">
                      <input required id="hnumber_add" type="text" class="validate" name="address[address2]">
                      <label for="hnumber_add">Hausnr.</label>
                    </div>

                    <div class="input-field col s12 m6">
                      <input required id="plz_add" type="text" class="validate" name="address[zip]">
                      <label for="plz_add">PLZ</label>
                    </div>
                    <div class="input-field col s12 m6">
                      <input required id="location_add" type="text" class="validate" name="address[city]">
                      <label for="location_add">Stadt</label>
                    </div>

                    <div class="input-field col s12">
                      <input id="telephone_add" type="tel" class="validate" name="address[phone]">
                      <label for="telephone_add">Telefonnummer (optional)</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12 m6 offset-m3 left-align btn_group">
                      <input type="submit" class="btn primary-btn" value="{{ 'customer.addresses.add' | t }}">
                    </div>
                  </div>
                  {% endform %}
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col s12 m6 btn_group">
        <a href="/account" class="btn primary-btn col s12 relative"><i class="material-icons absolute" style="left: .75rem;">keyboard_arrow_left</i>Zur&uuml;ck</a>
      </div>
      <div class="col s12 m6 btn_group">
        <a href="account/logout" class="btn primary-btn col s12">Ausloggen</a>
      </div>
    </div>

    <!-- Support -->
    <div class="hide-on-med-and-down">
      <!-- Element Showed -->
      <div class="fixed-action-btn">
        <a id="menu" class="btn btn-floating btn-large primary-bg" onclick="$('.tap-target').tapTarget('open');"><i class="material-icons">question_answer</i></a>
      </div>

      <!-- Tap Target Structure -->
      <div class="tap-target primary-container" data-activates="menu">
        <div class="tap-target-content">
          <h5>Sie haben Fragen?</h5>
          <p>Kontaktieren Sie und einfach &uuml;ber support@cupsociety.de<br><br>Ihr Cup Society Team</p>
        </div>
      </div>
    </div>
    <!-- !Support -->

  </div>
</section>

<script>
  // Modified contents of customer_area.js (global asset)
  Shopify.CustomerAddress = {
    toggleForm: function(id) {
     var editEl = document.getElementById('edit_address_'+id);
     var viewEl = document.getElementById('view_address_'+id);
     editEl.style.display = editEl.style.display == 'none' ? '' : 'none';
     viewEl.style.display = viewEl.style.display == 'none' ? '' : 'none';
     return false;
   },

    toggleNewForm: function() {
      var el = document.getElementById('AddAddress');
      el.style.display = el.style.display == 'none' ? '' : 'none';
      return false;
    },

    destroy: function(id, confirm_msg) {
      if (confirm(confirm_msg || "Sind Sie sicher, dass Sie diese Adresse löschen wollen?")) {
        Shopify.postLink('/account/addresses/'+id, {'parameters': {'_method': 'delete'}});
      }
    }
  }
</script>
