<!-- /templates/customers/login.liquid -->
<!-- CONTENT -->
<section class="content-section-inner center-align valign-wrapper fullscreenHeight">
  <div class="container">
    <div class="row">
      <div class="section-heading col s12">
        <h2>Konto</h2>
        <div class="divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header active"><i class="material-icons">person</i>Anmelden</div>
            <div class="collapsible-body">
              <div class="row">
                <div id="CustomerLoginForm" class="form-vertical">
                  <div class="col s12">
                    {% form 'customer_login' %}
                      {%- if form.errors -%}
                        <script type="text/javascript">
                          $(function() { swal("Ups!", 'Ungültige Zugangsdaten.', "error"); });
                        </script>
                      {%- endif -%}
                      <div class="row">
                        <div class="input-field col s12 m6">
                          <input id="email" type="email" name="customer[email]" class="validate input-full{% if form.errors contains 'email' %} error{% endif %}" autocorrect="off" autocapitalize="off" autofocus>
                          <label for="email" data-error="Falsche Eingabe" data-success="Erfolgreich!">{{ 'customer.login.email' | t }}</label>
                        </div>
                        <div class="input-field col s12 m6">
                          {% if form.password_needed %}
                            <label for="password" class="hidden-label">{{ 'customer.login.password' | t }}</label>
                            <input type="password" value="" name="customer[password]" id="password" class="validate input-full{% if form.errors contains 'password' %} error{% endif %}">
                          {% endif %}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12 m4 offset-m4 btn_group">
                          <button type="submit" class="btn waves-effect waves-light primary-btn" value="{{ 'customer.login.sign_in' | t }}">
                            Anmelden<i class="fa fa-sign-in right-btn-icon" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                    {% endform %}
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">person_add</i>Registrieren</div>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s12">
                  {% form 'create_customer' %}

                    {%- if form.errors -%}
                      <script type="text/javascript">
                        $(function() { swal("Ups!", '{{ form.errors | default_errors }}', "error"); });
                      </script>
                    {%- endif -%}

                    <input required id="first_name" type="text" class="validate" name="customer[first_name]" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words" autofocus>
                    <label for="first_name">{{ 'customer.register.first_name' | t }}</label>

                    <input required id="last_name" type="text" class="validate" name="customer[last_name]" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
                    <label for="last_name">{{ 'customer.register.last_name' | t }}</label>

                    <input required id="email" type="email" class="validate{% if form.errors contains 'email' %} error{% endif %}" name="customer[email]" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
                    <label for="email">{{ 'customer.register.email' | t }}</label>

                    <input required id="password" type="password" class="validate{% if form.errors contains 'password' %} error{% endif %}" name="customer[password]">
                    <label for="password">{{ 'customer.register.password' | t }}</label>
                    <p>
                      <input type="hidden" name="customer[accepts_marketing]" value="" />
                      <input type="checkbox" name="customer[accepts_marketing]" class="filled-in" id="filled-in-box" checked="checked" />
                      <label for="filled-in-box">Newsletter abbonieren</label>
                    </p>
                    <p>
                      <button class="btn waves-effect waves-light primary-btn" type="submit" value="{{ 'customer.register.submit' | t }}" name="action">Registrieren<i class="fa fa-sign-in right-btn-icon" aria-hidden="true"></i></button>
                    </p>

                  {% endform %}
                </div>
                <form class="col s12" method="post">
                  <div class="row">
                    <div class="btn_group col s12 m4 offset-m4">
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">announcement</i>Anmeldedaten vergessen?</div>
            <div class="collapsible-body">
              <div class="col s12">
                {% form 'reset_customer_password' %}

                  {{ form.errors | default_errors }}

                  <p>{{ 'customer.reset_password.subtext' | t: email: email }}</p>

                  <div class="row">
                    <div class="input-field col s12">
                      <label for="ResetPassword" class="hidden-label">{{ 'customer.reset_password.password' | t }}</label>
                      <input type="password" value="" name="customer[password]" id="ResetPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password' | t }}">
                    </div>
                  </div>
                  <div class="row">
                    <div class="input-field col s12">
                      <label for="PasswordConfirmation" class="hidden-label">{{ 'customer.reset_password.password_confirm' | t }}</label>
                      <input type="password" value="" name="customer[password_confirmation]" id="PasswordConfirmation" class="input-full{% if form.errors contains 'password_confirmation' %} error{% endif %}" placeholder="{{ 'customer.reset_password.password_confirm' | t }}">
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12 m4 offset-m4 btn_group">
                      <button class="btn waves-effect waves-light primary-btn col s12 m4 offset-m4" type="submit" value="{{ 'customer.reset_password.submit' | t }}">Zur&uuml;cksetzen<i class="fa fa-sign-in right-btn-icon" aria-hidden="true"></i></button>
                    </div>
                  </div>

                {% endform %}
              </div>
              <div class="row">
                <form class="col s12" method="post">
                  <div class="row">
                    <div class="input-field col s12">
                      <input id="email" type="email" class="validate">
                      <label for="email" data-error="Falsche Eingabe" data-success="Erfolgreich!">Email</label>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col s12 m4 offset-m4 btn_group">
                      <button class="btn waves-effect waves-light primary-btn col s12 m4 offset-m4" type="submit" name="action">Zur&uuml;cksetzen<i class="fa fa-sign-in right-btn-icon" aria-hidden="true"></i></button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- !CONTENT -->
<div class="grid">

  <div class="grid__item large--one-third push--large--one-third text-center">

    {% comment %}
      If a user has successfully requested a new password, the form.posted_successfully? variable
      is set to true within the 'recover_customer_password' form only. Within that form you'll see
      the variable 'resetPassword' set to true, which is used to initialize timber.resetPasswordSuccess().
    {% endcomment %}
    <div class="note form-success" id="ResetSuccess" style="display:none;">
      {{ 'customer.recover_password.success' | t }}
    </div>

    <div id="CustomerLoginForm" class="form-vertical">
      {% form 'customer_login' %}

        <h1>{{ 'customer.login.title' | t }}</h1>

        {{ form.errors | default_errors }}

        <label for="CustomerEmail" class="hidden-label">{{ 'customer.login.email' | t }}</label>
        <input type="email" name="customer[email]" id="CustomerEmail" class="input-full{% if form.errors contains 'email' %} error{% endif %}" placeholder="{{ 'customer.login.email' | t }}" autocorrect="off" autocapitalize="off" autofocus>

        {% if form.password_needed %}
          <label for="CustomerPassword" class="hidden-label">{{ 'customer.login.password' | t }}</label>
          <input type="password" value="" name="customer[password]" id="CustomerPassword" class="input-full{% if form.errors contains 'password' %} error{% endif %}" placeholder="{{ 'customer.login.password' | t }}">
        {% endif %}

        <p>
          <input type="submit" class="btn btn--full" value="{{ 'customer.login.sign_in' | t }}">
        </p>
        <p><a href="/">{{ 'customer.login.cancel' | t }}</a></p>
        <p>{{ 'layout.customer.create_account' | t | customer_register_link }}</p>
        {% if form.password_needed %}
          <p><a href="#recover" id="RecoverPassword">{{ 'customer.login.forgot_password' | t }}</a></p>
        {% endif %}

      {% endform %}
    </div>

    {% comment %}
      JS shows/hides this form in timber.loginForms()
    {% endcomment %}
    <div id="RecoverPasswordForm" style="display: none;">

      <h2>{{ 'customer.recover_password.title' | t }}</h2>
      <p>{{ 'customer.recover_password.subtext' | t }}</p>

      <div class="form-vertical">
        {% form 'recover_customer_password' %}

          {{ form.errors | default_errors }}

          {% comment %}
            Assign variable to be used after timber.init() is run in theme.liquid
          {% endcomment %}
          {% if form.posted_successfully? %}
            {% assign resetPassword = true %}
          {% endif %}

          <label for="RecoverEmail" class="hidden-label">{{ 'customer.recover_password.email' | t }}</label>
          <input type="email" value="" name="email" id="RecoverEmail" class="input-full" placeholder="{{ 'customer.recover_password.email' | t }}" autocorrect="off" autocapitalize="off">

          <p>
            <input type="submit" class="btn btn--full" value="{{ 'customer.recover_password.submit' | t }}">
          </p>
          <button type="button" id="HideRecoverPasswordLink" class="text-link">{{ 'customer.recover_password.cancel' | t }}</button>
        {% endform %}
      </div>

    </div>

    {% comment %}
      If accounts are set as optional, the following will be shown as an option
      during checkout, not on the default /login page.
    {% endcomment %}
    {% if shop.checkout.guest_login %}
      <hr>

      <h2>{{ 'customer.login.guest_title' | t }}</h2>

      {% form 'guest_login' %}
        <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
      {% endform %}
    {% endif %}

  </div>

</div>
