<!-- /templates/customers/login.liquid -->
<!-- CONTENT -->
<section class="content-section-inner center-align valign-wrapper fullscreenHeight">
  <div class="container">
    <div class="row">
      <div class="section-heading col s12">
        <h2>Konto</h2>
        <div class="divider"></div>
      </div>
    </div>
    <div class="row">
      <div class="col s12">
        <ul class="collapsible" data-collapsible="accordion">
          <li>
            <div class="collapsible-header active"><i class="material-icons">person</i>Anmelden</div>
            <div class="collapsible-body">
              <div class="row">
                <div id="CustomerLoginForm" class="form-vertical">
                  <div class="col s12">
                    {% form 'customer_login' %}
                      {%- if form.errors -%}
                        <script type="text/javascript">
                          $(function() { swal("Ups!", 'Ungültige Zugangsdaten.', "error"); });
                        </script>
                      {%- endif -%}
                      <div class="row">
                        <div class="input-field col s12 m6">
                          <input id="login_email" type="email" name="customer[email]" class="validate input-full{% if form.errors contains 'email' %} error{% endif %}" autocorrect="off" autocapitalize="off" autofocus>
                          <label for="email" data-error="Falsche Eingabe" data-success="Erfolgreich!">{{ 'customer.login.email' | t }}</label>
                        </div>
                        <div class="input-field col s12 m6">
                          {% if form.password_needed %}
                            <label for="password" class="hidden-label">{{ 'customer.login.password' | t }}</label>
                            <input type="password" value="" name="customer[password]" id="login_password" class="validate input-full{% if form.errors contains 'password' %} error{% endif %}">
                          {% endif %}
                        </div>
                      </div>
                      <div class="row">
                        <div class="col s12 m4 offset-m4 btn_group">
                          <button type="submit" class="btn waves-effect waves-light primary-btn" value="{{ 'customer.login.sign_in' | t }}">
                            Anmelden<i class="fa fa-sign-in right-btn-icon" aria-hidden="true"></i>
                          </button>
                        </div>
                      </div>
                    {% endform %}
                  </div>
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">person_add</i>Registrieren</div>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s12">
                  {% form 'create_customer' %}

                    {%- if form.errors -%}
                      <script type="text/javascript">
                        $(function() { swal("Mmmh...", 'Ungültige Eingabe', "error"); });
                      </script>
                    {%- endif -%}

                    <div class="row">
                      <div class="input-field col s12 m6">
                        <input required id="first_name" type="text" class="validate" name="customer[first_name]" {% if form.first_name %}value="{{ form.first_name }}"{% endif %} autocapitalize="words">
                        <label for="first_name">{{ 'customer.register.first_name' | t }}</label>
                      </div>
                      <div class="input-field col s12 m6">
                          <input required id="last_name" type="text" class="validate" name="customer[last_name]" {% if form.last_name %}value="{{ form.last_name }}"{% endif %} autocapitalize="words">
                          <label for="last_name">{{ 'customer.register.last_name' | t }}</label>
                      </div>
                    </div>
                    <div class="row">
                      <div class="input-field col s12 m6">
                        <input required id="email" type="email" class="validate{% if form.errors contains 'email' %} error{% endif %}" name="customer[email]" {% if form.email %} value="{{ form.email }}"{% endif %} autocorrect="off" autocapitalize="off">
                        <label for="email">{{ 'customer.register.email' | t }}</label>
                      </div>
                      <div class="input-field col s12 m6">
                        <input required id="password" type="password" class="validate{% if form.errors contains 'password' %} error{% endif %}" name="customer[password]">
                        <label for="password">{{ 'customer.register.password' | t }}</label>
                      </div>
                    </div>
                    <p>
                      <input type="hidden" name="customer[accepts_marketing]" value="" />
                      <input type="checkbox" name="customer[accepts_marketing]" class="filled-in" id="filled-in-box" checked="checked" />
                      <label for="filled-in-box">Newsletter abbonieren</label>
                    </p>
                    <div class="row">
                      <div class="col s12 m4 offset-m4 btn_group">
                        <button class="btn waves-effect waves-light primary-btn" type="submit" value="{{ 'customer.register.submit' | t }}" name="action">Registrieren<i class="fa fa-sign-in right-btn-icon" aria-hidden="true"></i></button>
                      </div>
                    </div>

                  {% endform %}
                </div>
              </div>
            </div>
          </li>
          <li>
            <div class="collapsible-header"><i class="material-icons">announcement</i>Passwort vergessen?</div>
            <div class="collapsible-body">
              <div class="row">
                <div class="col s12">
                  <form method="post" action="/account/recover" accept-charset="UTF-8"><input type="hidden" value="recover_customer_password" name="form_type"><input type="hidden" name="utf8" value="✓">
                    <p>Geben Sie die Emailadresse f&uuml;r Ihren Account ein.</p>
                    <div class="row">
                      <div class="input-field col s12">
                        <label for="RecoverEmail" class="hidden-label">E-Mail</label>
                        <input type="email" value="" name="email" id="RecoverEmail" class="input-full" autocorrect="off" autocapitalize="off" autocomplete="off">
                      </div>
                    </div>
                    <div class="row">
                      <div class="btn_group col s12 m4 offset-m4">
                        <input class="btn primary-btn" type="submit" value="Absenden" id="HideRecoverPasswordLink">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
<!-- !CONTENT -->

<!-- Support -->
<div class="hide-on-med-and-down support">
  <!-- Element Showed -->
  <div class="fixed-action-btn">
    <a id="menu" class="btn btn-floating btn-large primary-bg" onclick="$('.tap-target').tapTarget('open');"><i class="material-icons">question_answer</i></a>
  </div>

  <!-- Tap Target Structure -->
  <div class="tap-target primary-container" data-activates="menu">
    <div class="tap-target-content">
      <h5>Sie haben Fragen?</h5>
      <p>Kontaktieren Sie und einfach &uuml;ber support@cupsociety.de<br><br>Ihr Cup Society Team</p>
    </div>
  </div>
</div>
<!-- !Support -->

    {% comment %}
      If accounts are set as optional, the following will be shown as an option
      during checkout, not on the default /login page.
    {% endcomment %}
    {% if shop.checkout.guest_login %}
      <hr>

      <h2>{{ 'customer.login.guest_title' | t }}</h2>

      {% form 'guest_login' %}
        <input type="submit" class="btn" value="{{ 'customer.login.guest_continue' | t }}">
      {% endform %}
    {% endif %}

</div>
