<!-- /templates/collection.liquid -->
{% comment %}

  For more information on collection tags:
    - http://docs.shopify.com/themes/liquid-variables/collection

{% endcomment %}

<section id="productoverview-product-section" class="content-section-inner first no-cart-resize">
  <div class="container">
    <div class="row">
      <div class="col s12 center-align section-heading scroll-fade">
        <h2>Produkte</h2>
        <p>Entdecke unsere exklusiven Tees & Zubeh&ouml;r</p>
      </div>
    </div>
    <div class="row flex-container">
      {% assign products = collections['all'].products %}
      {%- for product in products -%}
        <div class="product-wrapper col s12 m12 l6 scroll-fade">
          <a href="{{ product.url }}" class="secondary-textcolor">
            <div class="product-element">
              <div class="slideshow-wrapper z-depth-5">
                {%- for image in product.images -%}
                  <img src="{{ image.src | product_img_url: 'large' }}" class="img" alt="">
                {%- endfor -%}
              </div>
              <div class="product-information z-depth-3">
                <p class="product-element-preheading">
                  {% for col in product.collections %}
                  {%- if col.title == "Tee" -%}
                    Premium Tee, Biozertifiziert
                  {%- elsif col.title == "Accessoires" -%}
                    Exklusiv & Hochwertig
                  {%- endif -%}
                  {%- endfor -%}
                </p>
                <h4 class="product-element-heading">{{ product.title }}</h4>
                <div class="product-element-description">{{ product.description }}</div>
                <div class="divider"></div>
                <div class="product-element-interactiongroup">
                  <span class="product-element-price left-align">ab&nbsp;{{ product.price_min | money }}</span>
                  <div class="right">
                    <span class="product-element-show tooltip"><i class="material-icons pointer primary-hoverable">remove_red_eye</i><span class="tooltiptext">Produkt ansehen</span></span>

                      <form action="/collections/all" method="post" enctype="multipart/form-data" id="AddToCartForm" class="form-vertical" style="display: inline-block;">
                        <button type="submit" class="non-style-btn"><span class="product-element-addtocart tooltip"><i class="material-icons pointer primary-hoverable">shopping_cart</i><span class="tooltiptext">In den Warenkorb</span></span></button>
                        <input type="hidden" name="id" value="{{ product.variants.first.id }}" />
                      </form>
                  </div>
                </div>
              </div>
            </div>
          </a>
        </div>
      {%- endfor -%}
    </div>
  </div>
</section>
<!-- !CONTENT -->
